@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600&display=swap");

:root {
  --color-accent-1: #ff6f61;
  --color-accent-2: #ff8a65;
  --color-secondary-1: #37474f;
  --color-secondary-2: #263238;
  --color-primary-1: #ffffff;
  --color-primary-2: #eceff1;
  --color-orange: #ffa500;

  --header-font: "Poppins", sans-serif;
  --content-font: "Urbanist", sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--content-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}

body {
  color: var(--color-secondary-2);
  background: var(--color-primary-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.wallpaper {
  position: absolute;
  object-fit: cover;
  z-index: -1;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  filter: grayscale(0.5) brightness(0.8) contrast(1.2);
}

.top {
  display: flex;
  flex-direction: column;
  padding-top: 5rem;
  align-items: center;
  gap: 0.5rem;
  height: 100vh;
  color: var(--color-secondary-1);
  text-align: center;
}

.course {
  font-size: 1.5rem;
  letter-spacing: 0.5rem;
  font-weight: 300;
  text-transform: uppercase;
  background: var(--color-accent-1);
  color: var(--color-primary-1);
  padding: 0.5rem 1rem;
  border-radius: 5px;
}

.title {
  font-size: 4rem;
  letter-spacing: 0.5rem;
  text-shadow: 2px 2px 4px var(--color-secondary-1);
  color: var(--color-orange);
}

.subtitle {
  font-weight: 500;
  letter-spacing: 0.3rem;
  font-size: 1.5rem;
  color: var(--color-orange);
}

.bottom {
  padding-bottom: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  color: var(--color-secondary-1);
  text-align: center;
}

.year {
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.descriptions {
  max-width: 600px;
  background: var(--color-accent-1);
  color: var(--color-primary-1);
  padding: 1rem;
  border-radius: 5px;
}

.header {
  width: calc(100% - 2rem);
  display: flex;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
  color: var(--color-primary-1);
  background-color: var(--color-secondary-2);
  position: fixed;
  top: 0;
  z-index: 10;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header .btn {
  font-size: 1rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 2px;
  text-decoration: none;
  color: var(--color-primary-1);
  transition: background-color 0.3s ease;
  background: var(--color-accent-2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .btn.active {
  background-color: var(--color-accent-1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header .btn:hover {
  background-color: var(--color-accent-2);
  transform: translateY(-2px);
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 2.5rem;
  }

  .subtitle {
    font-size: 1.2rem;
  }

  .header .btn {
    font-size: 0.9rem;
    padding: 0.3rem 0.6rem;
  }
}

*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-track {
  background-color: var(--color-primary-2);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-secondary-1);
  border-radius: 10px;
}
